# This workflow writes a draft release on GitHub named `unreleased` after every push on develop

name: "Create Release Notes"

on:
  push:
    branches: [develop]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-notes:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: "Use Node.js"
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "npm"
      - name: "Create Markdown content"
        run: |
          export GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          node js/releasenotes.js
